<div class="calendar">
  <div class="header-calendar text-center">
    <div class="title">Schedule your session!</div>
    <div class="sub-title">Timezone: {{timeZone}}</div>
  </div>
  <div class="dates-calendar d-flex flex-wrap align-items-center">
    <div class="flex-fill text-center" [style.width.%]="(100 / (dates.length + 2))">
      <button class="btn btn-sm btn-secondary btn-circle" (click)="previous()" [disabled]="buttonDisabled()"><i
          class="fa fa-chevron-left"></i></button>
    </div>
    <div class="flex-fill text-center" *ngFor="let date of dates" [style.width.%]="(100 / (dates.length + 2))">
      <div class="weekday">{{date | date: 'E'}}</div>
      <div class="text-uppercase">{{date | date: 'dd LLL'}}</div>
    </div>
    <div class="flex-fill text-center" [style.width.%]="(100 / (dates.length + 2))">
      <button class="btn btn-sm btn-secondary btn-circle" (click)="next()"><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
  <div class="content-calendar d-flex flex-wrap" *ngIf="!loading; else loadingTemplate">
    <div class="flex-fill text-center" [style.width.%]="(100 / (dates.length + 2))"></div>

    <ng-container *ngIf="checkAvailableSlot(slotDates); else noSlotsTemplate">
      <div class="flex-fill text-center" *ngFor="let slotDate of slotDates" [style.width.%]="(100 / (dates.length + 2))">
        <div class="p-1" *ngFor="let slot of slotDate.slot">
          <button
            class="btn btn-sm btn-outline-secondary btn-block btn-slot font-weight-bold">{{slot.time | date: 'H:mm'}}</button>
        </div>
      </div>
    </ng-container>
    <ng-template #noSlotsTemplate>
      <div class="flex-flex mt-4">No available time</div>
    </ng-template>
    <div class="flex-fill text-center" [style.width.%]="(100 / (dates.length + 2))"></div>
  </div>
  <ng-template #loadingTemplate>
    <div class="content-calendar d-flex flex-wrap">
      <app-loading></app-loading>
    </div>
  </ng-template>
</div>
