@import "../../../../../styles.scss";

.calendar {
  .header-calendar {
    background-color: $blue;
    padding: 10px;

    .title {
      color: $white;
      font-size: 1.3rem;
    }

    .sub-title {
      color: $white;
    }
  }

  .dates-calendar {
    padding: 10px 5px;
    -webkit-box-shadow: 0 9px 23px rgba(0, 0, 0, 0.13),
      0 5px 5px rgba(0, 0, 0, 0.06);
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.13), 0 5px 5px rgba(0, 0, 0, 0.06);

    .weekday {
      font-size: 0.9rem;
    }
  }

  .content-calendar {
    max-height: 300px;
    overflow-x: auto;
    margin: 10px 0;
    padding: 20px 5px;
    -webkit-box-shadow: 0 9px 23px rgba(0, 0, 0, 0.13), 0 5px 5px rgba(0, 0, 0, 0.06);
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.13), 0 5px 5px rgba(0, 0, 0, 0.06);

    app-loading {
      width: 100%;
    }
  }

  .btn-slot {
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 0;
  }
}
