/* You can add global styles to this file, and also import other style files */

$blue: #007bdb;
$white: #ffffff;
$yellow: #fed053;

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
